@model List<Film>
@{
    ViewData["Title"] = "Country_Films";
}
<h1>Films</h1>
<hr>
<div class="row">
    @if (Model == null || Model.Count == 0)
    {
        <h1>There is not result.</h1>
    }
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="~/Images/@(item.CoverImageUrl).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    @{
                        string Name = item.FilmName.Length > 15 ? item.FilmName.Substring(0, 15) + "..." :
                        item.FilmName;
                    }
                    <h5 class="card-title">@Name</h5>
                    <p class="card-text">Year: @item.Year<br>Country:@item.Country.CountryName</p>
                    <a asp-controller="Default" asp-action="FilmDetail" asp-route-id="@item.FilmId"
                        class="btn btn-primary">See More...</a>
                </div>
            </div>
        </div>
    }
</div>