<figure class="text-center">
    <h1>Basic FilmDb Web Project</h1>
    <blockquote class="blockquote">
        <p class="mb-0">This project I have made is a simple movie database.
            There are movies, actors and directors.
            It also clusters these three categories by country.</p>
        <p>I used .Net Core 8 and Microsoft SQL Server</p>
    </blockquote>
   
</figure>
